.App {
  text-align: center;
}

.App-header {
  background-color: #006b9c;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 240%;
}

.App-link {
  color: #61dafb;
}

body {
font-family: "Lora", Georgia, serif; /* "Source Sans Pro", sans-serif; */
  text-align: center;
  font-size: 120%;
  line-height: 150%;
}

section {
  width: 60%;
  margin-left: 20%;
}

.map {
  height: 400px;
  width: 100%;
}

.legend {
  text-align: left;
  border: 1px solid #000;
  border-top: none;
}
.legend .options {
  border-right: 1px solid #000;
}
.legend .nav {
  display: block;
}
.legend li {
  margin-bottom: 8px;
  cursor: pointer;
}
.legend .options, .legend .outputs {
  display: inline-block;
  padding: 8px;
  vertical-align: top;
}

.histogram div {
  display: inline-block;
  vertical-align: bottom;
}

td.digits {
  text-align: right;
}

.colorList li {
  list-style-type: none;
}
.colorList li span {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}
