.App {
  text-align: center;
}

.App-header {
  background-color: #006b9c;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 240%;
}

.App-link {
  color: #61dafb;
}

body {
/* font-family: "Lora", Georgia, serif;  */
/* "Source Sans Pro", sans-serif; */
  text-align: center;
  font-size: 120%;
  line-height: 150%;
}

html, body, #root, .App, section {
  height: 100%;
}

/* section {
  width: 60%;
  margin-left: 20%;
} */

.map {
  height: 100%;
  width: 50%;
  float: left;
}

.legend {
  text-align: left;
  width: 48%;
  float: right;
}
.legend .nav {
  display: block;
}
.legend .outputs {
  padding: 8px;
  vertical-align: top;
}

.histogram div {
  display: inline-block;
  vertical-align: bottom;
}

td.digits {
  text-align: right;
}

.colorList li {
  list-style-type: none;
}
.colorList li span {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

.nums .square {
  display: inline-block;
  font-size: 10px;
  width: 36px;
  text-align: center;
}

.gradient {
  width: 300px;
  margin-left: 5px;
  height: 24px;
}
.palette .square {
  width: 36px;
  height: 24px;
  display: inline-block;
  border: 1px solid silver;
  border-right: none;
}
.palette .square:last-child {
  border-right: 1px solid silver;
}
